@charset "utf-8";

/* @General
----------------------------------------*/

	body {padding:0;}
	
	input, textarea {background-color:white; border:2px inset; padding:2px;}

	#controls {}
	#controls li {list-style:none; padding:2px 0 ; display:block;}
	#controls a {display:block; padding:2px; text-decoration:none; background-color:#eee;}
	
	#example {}
		
	#controls a {
		border-radius:10px;
		box-shadow:0 1px 2px #333;
		background:rgba(0,0,0,0.5);
		border:none;
		display:block;
		padding:0.5em;
		line-height:1.2em;
		text-align:center;
		text-shadow:0 1px 2px #333; 
	}
	
	#controls a:hover {
		background:rgba(0,0,0,0.8);
		color:#efefef;
		text-shadow: 0 -1px 0 #333;
	}
	
	#options-wrapper {height:200px; overflow:auto;}
	
	#display {background:#fff; border:2px inset; overflow:auto; height:96px; width:100%;}
